**/.DS_Store
**/.git
**/.github
**/.vscode
**/coverage
**/dist
**/node_modules
**/*.spec.ts
**/.editorconfig

**/.eslintignore
**/.eslintrc.json
**/.cspell.json
**/.jscpd.json
**/.mega-linter.yml
**/.prettierignore
**/.prettierrc.json
**/LICENSE
**/.env
**/.env.dist
**/.gitignore
**/.gitmessage
**/jest.config.*
**/*.log
**/*.md
**/*.tsbuildinfo

.dockerignore
**/Dockerfile
